/* ___________________  Page element styles ___________________ */
html {
    background-color: #021019;
    background-size: 100%,auto;
}

table td {
    width: 120px;
    color: #fff;
}

table {
    margin-bottom: 0;
}

input[type="text"],textarea {
    background-color: #021019;
    color: #15738B;
}

label {
  color: #15738B;
  padding-left: 1px;
  padding-right: 1px;
}

.shade {
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
}

.column, .columns {
    margin: 0;
}

.no-padding {
	padding: 0;
}

/* ___________________  Texts / Fonts ___________________ */
h1 {
    font-family: 'Pacifico',cursive;
    font-size: 5em;
    color: #fff;
}

h2 {
    font-family: 'Oswald',sans-serif;
    font-size: 2.5em;
    color: #15738B;
}

h3 {
    font-family: 'Oswald',sans-serif;
    font-size: 2.5em;
    color: #15738B;
}

p {
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 1.5em;
    color: #fff;
}

p strong {
    color: #15738B;
}

.title {
    font-family: 'Oswald',sans-serif;
    width: 120px;
    color: #15738B;
}

.note {
    color: #0c4f63;
    font-family: 'Oswald',sans-serif;
    font-size: 1.3em;
}

/* ___________________  Text alignment  ___________________ */
.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

/* ___________________  Header ___________________ */
.mainHead {
    position: fixed;
    background-color: #08304B;
    width: 100%;
    height: 50px;
    left: 0;
    padding-top: 10px;
    z-index: 100;
}

.logo {
    height: 50px;
    background-image: url("../images/webLogo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.headerinfo {
    width: 100%;
}

#button {
    background-image: url(../images/search.png);
    background-color: rgba(2,16,25,1);
    background-size: 34px;
    background-repeat: no-repeat;
    padding: 1px;
    margin-left: 5px;
    width: 38px;
    height: 38px;
}
/* ___________________  Footer ___________________ */
.footer {
    background-color: #20445d;
    position: fixed;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 0;
    padding-top: 10px;
    z-index: 100;
}
/* ___________________  Intro ___________________ */
.introd {
    display: block;
}

.intro {
    padding-top: 65px;
    visibility: visible;
    text-align: center;
    background-color: #021019;
}

/* ___________________  App data  ___________________ */
.content {
    padding-top: 65px;
    display: none;
}

.flags {
    position: fixed;
    width: 100%;
    height: 117px;
    left: 0;
	bottom:0;
    z-index: 100;
}

#flag {
	display: block;
	margin: auto;
}

#application {
    visibility: hidden;
}
/* ___________________  Save data  ___________________ */
.filename {
  margin: 5px;
}

#save-button {
	background-image: url(../images/save.png);
	background-size: 24px;
	background-position: center;
	background-color: rgba(2,16,25,1);
	background-repeat: no-repeat;
	margin: 5px;
	padding: 1px;
	width: 38px;
    height: 38px;
}
/* ___________________  Google maps  ___________________ */
#googleMap {
    width: 99%;
    height: 700px;
}
/* ___________________  App history  ___________________ */
.history {
	text-align: center;
}

.historyTitle {
	padding-left: 10px;
	top: 0;
}

.historyContent {
	padding-top: 10px;
}

#clearHistory {
	float: right;
	color: #15738B;
}

/* ___________________  Styling for smaller screens & mobile ___________________ */
@media screen and (max-width: 1022px){
.logo {
  background-image: url("../images/webLogo-small.png");
}

h1{
  font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.5em;
}

.container {
  margin: 0px;
  width: 100%;
}

#googleMap {
    width: 99%;
    height: 550px;
}

}

@media screen and (max-width: 555px){


  .intro {
    padding-top: 155px;
  }

  .content {
    padding-top: 155px;
  }
  #button {
    width: 100%;
    background-position: center;
    margin-left: 0px
  }

  .headerinfo {
    margin-bottom: 0px;
  }

  .shade {
    width: 100%;
  }

  #googleMap {
      width: 99%;
      height: 420px;
  }

}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  #googleMap {
      width: 99%;
      height: 220px;
  }
}
